<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">

    {% block title %}
    <title>My Bot Manage Site</title>
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery.dataTables.min.css">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- DataTables JS -->
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
{#    <script src="/static/js/jquery-1.11.0.min.js"></script>#}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>


    <!-- Datatables CSS -->
    <link href="/static/css/dataTables.bootstrap.min.css">

    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myCount').dataTable({
                "aoColumnDefs":[
                    {   "sWidth": "10%","aTargets":[0]},
                    {   "sWidth": "10%","aTargets":[1]},
                    {   "sWidth": "10%","aTargets":[2]},
                    {   "sWidth": "10%","aTargets":[3]},
                    {   "sWidth": "30%","aTargets":[4]},
                    {   "sWidth": "10%","aTargets":[5]}
                  ],
                 "oLanguage": {
                     "sProcessing": "正在加载中......",
                     "sLengthMenu": "每页显示 _MENU_ 条记录",
                     "sZeroRecords": "正在加载中......",
                     "sEmptyTable": "查询无数据！",
                     "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                     "sInfoEmpty": "显示0到0条记录",
                     "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                     "sSearch": "当前数据搜索:",
                     "oPaginate": {
                         "sFirst": "首页",
                         "sPrevious": "上一页",
                         "sNext": "下一页",
                         "sLast": "末页"
                     }
                 },"bJQueryUI": true,
             "sScrollY": "500px", "sScrollX": "100%"
            })
        });
    </script>
    <script>
            $(document).ready(function(){
                $('#myWeiboInfor').dataTable({
                    "aoColumnDefs":[
                        {   "sWidth": "10%","aTargets":[0]},
                        {   "sWidth": "50%","aTargets":[1]},
                        {   "sWidth": "20%","aTargets":[2]}
                      ],
                     "oLanguage": {
                         "sProcessing": "正在加载中......",
                         "sLengthMenu": "每页显示 _MENU_ 条记录",
                         "sZeroRecords": "正在加载中......",
                         "sEmptyTable": "查询无数据！",
                         "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                         "sInfoEmpty": "显示0到0条记录",
                         "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                         "sSearch": "当前数据搜索:",
                         "oPaginate": {
                             "sFirst": "首页",
                             "sPrevious": "上一页",
                             "sNext": "下一页",
                             "sLast": "末页"
                         }
                     },"bJQueryUI": true,
                 "sScrollY": "500px", "sScrollX": "100%"
                })
            });
    </script>

</head>

<body>


        <div id="wrapper">


            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bot Manage</a>
            </div>
            {#顶部边栏#}
            {% include "common/headerbar.html" %}
            {#侧边栏#}
            {% include "common/siderbar.html" %}
            </nav>

            {#页面主体#}
            <div id="page-wrapper">
                <div class="container-fluid">
                <style>
                    .alert-error {
                      color: #a94442;
                      background-color: #f2dede;
                      border-color: #ebccd1;
                    }
                </style>
                    {# 用于显示消息#}
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% block body %}

                    {% endblock %}

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/js/plugins/morris/morris.min.js"></script>
    <script src="/static/js/plugins/morris/morris-data.js"></script>

</body>


</html>
