{% extends "common/base.html" %}

{% block body %}

    <div>
        {#调用 添加账号 模态框的button#}
        <button class="btn  btn-success" data-toggle="modal" data-target="#addBot" style="font-family: 微软雅黑" >
            添加账号
        </button>
        <a class="btn btn-warning" href="checkBotStatus">检查状态</a>
        <a class="btn btn-info" href="search">搜索</a>
        <br><br>
    </div>


    {#用于展示机器人列表的table#}
    <table class="table table-bordered table-hover">
        <thead>
            <th>账号</th>
            <th>密码</th>
            <th>有效性</th>
            <th>未读私信数量</th>
            <th>cookies</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for b in botlist %}
                <tr>
                    <td>
                        {#用于复制账号#}
                        <div id="username_text_{{ b.username }}">{{ b.username }}</div>
                        <button id="copy_username_{{ b.username }}" data-clipboard-target="username_text_{{ b.username }}" class="btn btn-info btn-xs">复制</button>
                    </td>{# 账号#}
                    <td>
                        <div id="password_text_{{ b.username }}">{{ b.password }}</div>
                        <button id="copy_password_{{ b.username }}" data-clipboard-target="password_text_{{ b.username }}" class="btn btn-info btn-xs">复制</button>
                    </td>{# 密码#}
                    <td>
                        {% if b.isValid == True %}
                            <span style="color: #4cae4c" class="glyphicon glyphicon-ok"></span>
                            {% else %}
                            <span style="color: #c7254e" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>{# 有效性#}
                    <td>
                        {% if b.message_num == 0 %}
                            <button class="btn btn-success btn-xs">{{ b.message_num }}</button>
                        {% else %}
                            <button class="btn btn-danger btn-xs">{{ b.message_num }}</button>
                        {% endif %}
                    </td>{# 未读私信数量 #}
                    <td>
                        <div id="cookies_text_{{ b.username }}">{{ b.cookies }}</div>
                        <button id="copy_cookies_{{ b.username }}" data-clipboard-target="cookies_text_{{ b.username }}" class="btn btn-info btn-xs">复制</button>
                    </td>{# cookie#}

                    <th>
                        {# 用于删除的form#}
                        <form method="post" action={% url 'delBot' %}>
                            {#防跨站#}
                            {% csrf_token %}
                            <input  type="hidden" name="username" value={{ b.username }}>
                            <button type="submit" class="btn btn-danger" onclick= "return confirm('是否确认删除？')">
                                <span class="glyphicon glyphicon-trash"></span>
                                删除
                            </button>
                        </form>

                        {# 调用cookies模态框的按钮#}
                        <button class="btn  btn-success" data-toggle="modal" data-target="#addCookies-{{ b.username }}" style="font-family: 微软雅黑" >
                            <span class="glyphicon glyphicon-pencil"></span>
                            修改cookies
                        </button>

                        {#用于修改cookies的模态框#}
                        <div class="modal fade" id='addCookies-{{ b.username }}' tabindex="-1" role="dialog"
                           aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button type="button" class="close"
                                       data-dismiss="modal" aria-hidden="true">
                                          &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                       修改cookies
                                    </h4>
                     </div>
                     <div class="modal-body">
                         {#表单#}
                        <form action={% url 'addCookies' %} method='post' role="form" class="form-horizontal">

                    {#防跨站#}
                    {% csrf_token %}

                    {#表单内容 #}
                    <div class="form-group">
                        <label class="control-label col-md-2">账号</label>
                        <div class="col-md-6">
                            <input  type="hidden" name="username" value={{ b.username }}>
                            <textarea type="text" class="form-control" name="newCookies"></textarea>
                        </div>
                    </div>

                    {#    按钮    #}
                    <div class="col-md-offset-1">
                        <button type="submit" class="btn btn-danger">确认提交</button>
                    </div>


                </form>

             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
             </div>
          </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    </div>

                    </th>{# 可进行的操作#}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {#用于添加账号的模态框#}
    <div class="modal fade" id='addBot' tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   添加账号
                </h4>
             </div>
             <div class="modal-body">
                 {#表单#}
                <form action={% url 'addBot' %} method='post' role="form" class="form-horizontal">

                    {#防跨站#}
                    {% csrf_token %}

                    {#表单内容 #}
                    <div class="form-group">
                        <label class="control-label col-md-2">账号</label>
                        <div class="col-md-6">
                            <input  type="text" class="form-control" name="username"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">密码</label>
                        <div class="col-md-6">
                            <input  type="text" class="form-control" name="password">
                        </div>
                    </div>

                    {#    按钮    #}
                    <div class="col-md-offset-1">
                        <button type="submit" class="btn btn-danger">确认提交</button>
                    </div>


                </form>

             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
             </div>
          </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    </div>

    {#此js用于复制文本到clipboard#}
    <script type="text/javascript" src="/static/js/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
        {% for b in botlist %}
            // 定义一个新的复制对象
            new ZeroClipboard( document.getElementById("copy_username_{{ b.username }}"), {
              moviePath: "/static/js/ZeroClipboard.swf"
            } );
            new ZeroClipboard( document.getElementById("copy_password_{{ b.username }}"), {
              moviePath: "/static/js/ZeroClipboard.swf"
            } );
            new ZeroClipboard( document.getElementById("copy_cookies_{{ b.username }}"), {
              moviePath: "/static/js/ZeroClipboard.swf"
            } );
        {% endfor %}
    </script>
{% endblock %}